<h3><span class="badge badge-pill badge-success">Ángel<small> escribiendo...</small></span></h3>
<hr>

<div class="app-messages">

  <div *ngFor="let chat of _cs.chats | async"
        class="text-right">
    <span class="badge badge-primary">{{ chat.name }}</span>
    <p>
      {{ chat.message }}
    </p>
  </div>

  <!-- <div class="text-right">
    <span class="badge badge-pill badge-primary">Miguel</span>
    <p>
      Hola, qué tal?
    </p>
  </div>
  <div class="text-left">
    <span class="badge badge-pill badge-success">Ángel</span>
    <p>
      Muy bien, y tú?
    </p>
  </div>
  <div class="text-right">
    <span class="badge badge-pill badge-primary">Miguel</span>
    <p>
      Bien! Desarrollando mi proyecto final
    </p>
  </div> -->

</div>
<!-- <input type="text" name="" value="" placeholder="mensaje..." class="form-control"> -->
<input [(ngModel)]="message"
        name="message"
        (keyup.enter)="send()"
        class="form-control"
        placeholder="mensaje..">
