<div class="container main-container">


  <div class="row animation fadeIn fast">
    <div class="">
      <h1>Chat</h1>
    </div>
    <div class="text-right"  *ngIf="_cs.user">
      <button (click)="_ls.logout()" type="button" name="button" class="btn btn-outline-danger">Cerrar sesión</button>
    </div>
  </div>
  <hr>
  <div class="animation fadeIn fast" *ngIf="!_cs.user">

    <app-login></app-login>
  </div>

  <div class="chat-window animation fadeIn fast" *ngIf="_cs.user">

    <app-chat></app-chat>

  </div>
  <hr>
  <span><small class="developed">© developed by Miguel Villafuerte</small></span>

</div>
